
.mails-add {
  height: 400px;
  overflow: auto;
}
.row {
  cursor: pointer;
}
mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: 50px;
  bottom: -50px;
}

 /* ******************new******** */

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button{
  width: 50%;
  bottom: -150px;
  margin-left: 500px;
}