<h3>Add Job</h3>
<br>
<form>
  <label for="idIdproject">Id project :</label>
  <input [(ngModel)]="idProjectInput" type="number" id="idIdproject" name="idProjectInput" value="505">
  <label for="idCronExpression">Cron Expression :</label>
  <input  [(ngModel)]="cronExpressionInput" type="text" id="idCronExpression" name="cronExpressionInput" value="testtttttt">
  <label for="idNameInput">Name :</label>
  <input [(ngModel)]="nameInput" type="text" id="idNameInput" name="nameInput" value="Doe">
  <button type="submit" class="btn btn-success" (click)="addJob()">Submit</button>
</form>
<br>
<br>
<h3>Job list</h3>
<br>
<table>
  <thead>
    <tr>
      <th>Id Job</th>
      <th>Cron Expression</th>
      <th>Name</th>
      <th>Id project</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Deleted At</th>
    </tr>
  </thead>
  <tbody>
      <tr  *ngFor="let job of joblist; let i= index" >
        <td>{{job.ID}}</td>
        <td>{{job.CronExpression}}</td>
        <td>{{job.Name}}</td>
        <td>{{job.IdProject}}</td>
        <td>{{job.CreatedAt | date}}</td>
        <td>{{job.UpdatedAt | date}}</td>
        <td>{{job.deletedAt | date}}</td>
      </tr>
  </tbody>
</table>
<br>
<hr>
