<mat-card class="card" fxFlex>

  <mat-card-title>
    <h3>Project Details</h3>
  </mat-card-title>

  <mat-card-content>

    <div *ngIf="!project; else projectDetailsTemplate" fxLayoutAlign="center center">
      Select a project
    </div>

    <ng-template #projectDetailsTemplate>
        <mat-tab label="Project">
          <mat-list>
            <mat-list-item>Name: {{project.name}}</mat-list-item>
            <mat-list-item>Url: {{project.url}}</mat-list-item>
            <mat-list-item>Public: {{project._public}}</mat-list-item>
            <mat-list-item>Runner: {{project.runner}}</mat-list-item>
            <mat-list-item>Owner: {{project.owner}}</mat-list-item>
            <mat-list-item>Owner: {{project.source}}</mat-list-item>
          </mat-list>
        </mat-tab>
    </ng-template>

  </mat-card-content>
</mat-card>
